* {
  box-sizing: border-box;
}
body {
  background: #F7F7F7;
}

.container {
  width: 100%;
  padding-top: 100px;
}

.table {
  position: relative;
  margin: 0 auto;
  width: 450px;
  height: 700px;
  perspective: 700px;
  box-shadow: 20px 10px 40px gray;
}

.card {
  background: rgb(14, 13, 13);
  
  position: absolute;
  width: 450px;
  height: 900px;
  top: 0;
  left: 0;
  border: 1px solid gray;
  padding: 20px;
  /* backface-visibility: hidden;  */
  transition: all 0.5s ease-out;
  transform-origin: 0 0;
}

.card img {
  max-width: 100%;
}

@keyframes bounce {
  0% { transform: rotateY(0); }
  100% { transform: rotateY(-10deg); }
}

.card.card-front {
  z-index: 2;
  animation: bounce 1.5s ease-in-out 1s infinite alternate;
  font-family: Sacramento, cursive;
  width: 109%;
  text-align: center;
  color:aliceblue;
}

.table:hover .card.card-front {
  animation: none;
  transform: rotateY(-85deg);
}

.card.card-back {
  z-index: 1;
  padding: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 109%;
  font-size: 5%;
  color:#F7F7F7;
}